* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Baloo Bhai 2", sans-serif;
}

header {
  background-color: #fff8f3;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.navigation h2 {
  font-size: 45px;
}

.orange {
  color: orange;
}

.navigation {
  width: 71%;
  max-width: 1920px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #7f5c44;
}

.btn {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: darkorange;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 47px 38px 0px 230px;
}

#banner .content {
  height: 365px;
  width: 585px;
}

#banner .content h3 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}

#banner .content h2 {
  color: #474747;
  font-weight: bold;
  font-size: 85px;
  margin-bottom: 20px;
}

#banner .content p {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

#banner .photo img {
  max-width: 584px;
  vertical-align: middle;
  border-radius: 150px;
}

#about {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}

#about .section-heading h2 {
  font-size: 45px;
  color: #474747;
  margin-bottom: 20px;
}

#about .section-heading p {
  color: #757575;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 20px;
}

#about .about-info {
  display: flex;
  justify-content: space-around;
}

#about .about-container .about-info .info-card p {
  color: #757575;
  line-height: 30px;
  font-size: 20px;
}

#about .about-container .about-info .info-card h4 {
  color: #474747;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

#does {
  padding-top: 130px;
}

#does .work {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 131px 230px;
}

#does .work h2 {
  font-size: 45px;
  font-weight: bold;
  color: #181818;
}

#does .work p {
  font-size: 18px;
  color: #757575;
}

#skills {
  padding-top: 50px;
}

#skills .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#skills .skill-card {
  border: none;
  max-width: 267px;
  background-color: #fff;
}

#skills .skill-card img {
  padding: 32px 190px 0 33px;
}

#skills .skill-card h4 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  padding: 0px 140px 0 30px;
}

#skills .skill-card p {
  font-size: 16px;
  color: #757575;
  padding: 0 33px;
  padding-bottom: 30px;
}

#summary {
  padding-top: 114px;
  /* background-color: #f8daa9; */
}

#summary .summary-head {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

#summary .summary-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 113px;
}

#summary .summary-head h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

#summary .summary-container h3 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}

#summary .summary-container h4 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}

#summary .summary-container .varsity,
.company {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

#summary .summary-container .description {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

#summary hr {
  margin: 30px 0;
}

#summary .btn {
  margin: 30px 650px 113px 650px;
}

#footer {
  background-color: #FFF8F3;
}

#footer .footer-content {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: start;
  padding: 130px 0 130px 0;
  color: #181818;
  display: flex;
  justify-content: space-between;
  gap: 117px;
}

#footer .footer-content .social-link ul {
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

#footer .footer-form,
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer .footer-content .footer-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 585px;
}

#footer .footer-content .footer-connect h5 {
  font-size: 35px;
  font-weight: bold;
}

#footer .footer-content .footer-connect p {
  font-size: 16px;
  color: #757575;
}

#footer .footer-content .footer-form h3 {
  font-size: 35px;
  font-weight: bold;
}

#footer .footer-form input{
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  height: 64px;
  width: 461px;

}

#footer .footer-form .Write{
  height: 180px;

}

#footer .footer-form .btn{
  height: 64px;
  width: 150px;

}

