*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.gradient-color{
  background: linear-gradient(
  135deg,
  #000000,
  #002424,
  #000000
);

}

 span {
  background: linear-gradient(
    90deg,
    #00ffd5,
    #ffdd55,
    #ff2fb3
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 87px 120px;
}

#navbar .logo{
    font-size: 40px;
    font-weight: bold;
}

#navbar .nav-menu{
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 34px;
  cursor: pointer;
  font-size: 16px;
  

}

#navbar .nav-menu li{
    border: none;
  border-radius: 60px;
  background: radial-gradient(circle, #082911, #0e2d1d);
  margin: 20px;
  padding: 20px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    gap: 16px;
}

#about h2{
    font-size: 30px;
    font-weight: 600;
}

#about p{
    font-size: 18px;
    font-weight: 400;
}








