*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 60px;
    color: white;
}

input{
    padding: 20px;
    font-size: 50px;
    margin-top: 50px;
    border:20px solid aquamarine;
    border-radius: 30px;
    
}



.operator-box{
    display: flex;
    gap: 10px;
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    border:none;
    border-radius: 30px;
}

button{
    padding: 20px;
    font-size: 50px;
    font-weight: bolder;
    border:none;
    border-radius: 30px;
}
