* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #b9b9b9; */
}


#navbar {
  display: flex;
  justify-content: space-between;
  margin: 87px 120px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3a3a3a;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 34px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

#navbar .nav-item .nav-menu img {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

#section-1 {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  margin: 80px 120px;
}

#section-1 .sec-1-text {
  width: 582px;
}

#section-1 .sec-1-text h2 {
  font-size: 52px;
  font-weight: bold;
  color: #3a3a3a;
  line-height: 70px;
}

#section-1 .sec-1-text p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 16px 0 16px 0;
}

#section-1 .sec-1-text button {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;
  cursor: pointer;
}

.market-container .markets img{
  margin: 25px 25px 25px 25px;
  justify-content: space-around;
}

.market-container{
  margin-left: 163px;
  margin-right: 167px;
}


#section-2 h2{
  font-size: 28px;
  font-weight: 600;
  color: #3A3A3A;
  align-items: center;
  padding: 98px 590px 20px 630px;
}

#section-2 .popular-collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin: 98px 198px 100px 198px;
}

.card{
  width: 330px;
  border: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #3A3A3A;
}

.card img{
  margin: 14px 16px;
}

.card h3{
  margin-left: 14px;
  font-size: 28px;
  font-weight: 400;
  color: #18191F;
  line-height: 40px;
}

.card .price{
  margin: 6px 0 16px 14px ;
  font-size: 18px;
  color: black;
}

.card p{
  margin: 6px 0 16px 14px ;
  font-size: 14px;
  font-weight: bold;
  width: 169px;
  color: #787885;
  text-shadow: 0 4px 4px #d5d0d0;
}

#section-3 .sec-3-container{
  padding: 80px 165px 90px 165px;
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.sec-3-text{
  margin-top: 23px ;
  
}

.sec-3-text h2{
  font-size: 38px;
  font-weight: bold;
  color: #0A0826;
  margin-bottom: 16px;
}

.sec-3-text p{
  font-size: 16px;
  font-weight: bold;
  color: #6C6C6C;
  margin-bottom: 16px;
  line-height: 28px;
}

.sec-3-text .btn3{
  color: white;
  background-color: #E02C6D;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

#footer{
  width: 100%;
  height: 250px;
  background-color: #0A0826;
  
}

#footer .inner{
  padding-top: 50px ;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

#footer .inner .social img{
  cursor: pointer;
  margin-right: 16px;

}






